body {
    overflow: hidden;
    min-height: 100vh;
}
.bubble {
    position: absolute;
    border-radius: 300px;
    background: rgba(255, 166, 0, 0.6);
    opacity: 0;
    -webkit-animation: anim 8s;
            animation: anim 8s;
}

@-webkit-keyframes anim {
to {
    top: -250px;
    opacity: 1;
}
}

@keyframes anim {
to {
    top: -250px;
    opacity: 1;
}
}